{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": "prettier",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-var": ["error"],
    "eqeqeq": ["error", "smart"],
    "prefer-const": ["error"],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  }
}
